<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>root</string>
	<key>StandardErrorPath</key>
	<string>/tmp/minimalecho.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/minimalecho.stdout</string>
	<key>Label</key>
	<string>com.minimalecho.program</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/handle-xpc-event-stream</string>
		<string>/usr/local/bin/minimalecho.sh</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.device-attach</key>
			<dict>
				<key>idVendor</key>
				<integer>5118</integer>
				<key>idProduct</key>
				<integer>21760</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOMatchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
